* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  
  body {
    
    font-family: 'segoe ui';
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: #4d4d4d;
    position: relative;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  #container{
    position: relative;
    height: 900px;
    width: 100%;
    justify-content: space-around;
    
  }
  .box{
    margin: 5%;
    display:inline-block;
    height: 300px;
    width: 20%;
    justify-content:space-between;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    background-size: 200%;
    background-repeat: no-repeat;
    background-position:center;
    border-radius: 10px;
    text-align: center;
    z-index:9999;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s;
   
}
 
  .box1{
    background-image:url(./Elephant/elephant.jpeg);
   }
  .box2{
    background-image:url(./Tiger/tiger.jpg);
     }
     
     .box3{
        background-image: url(./lion/Lion.jpg);
        
    }
    .box4{
        background-image: url(./Cheetah/cheetah-family.png);
        
    }
    .box5{
        background-image: url(./Wolf/Gray-wolf.jpg);
        
    }
    .box6{
        background-image: url(./bear/bear.jpg);
        
    }
    .box:hover{
        box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
       
    }
.btn:hover{
    opacity: 1;
}
.btn{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 45%;
    opacity: 0;    
    color:white;
    background-color: rgba(0, 0, 0, 0.37);
    transition: 0.5s;
    z-index: 9999;
    font-size: 25px;
    letter-spacing:5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    border-radius: 10px;
    text-decoration:none;
  }
