*{
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: rgb(93, 178, 125);
}

.navigation-bar{
  
    position: relative;
    display: flex;
    box-sizing: border-box;
    height:50px;
    background-color: rgb(72, 123, 176);
    width:100%;
  
}
a{
    padding: 5px;
    color: bisque;
    background-color: rgba(0, 0, 0, 0.336);
    border-radius: 5px;
}
#logo{
    width: 70%;
}
#icon{
    /* margin-left:2px; */
    /* mix-blend-mode:darken; */
    width: 50px;
}

.menu-items{
    padding: 2px;
    display:flex;
    width: 30%;
    justify-content:space-around;
    font-size:30px;
    margin-right:1%;
}

#heading{

    text-align: center;
    font-size: 50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 5%;
    margin-top:8%;
    text-transform:capitalize;
}
#container{
    width: 100%;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    justify-content:space-between;
    position: relative;
}
#lb{
    float:left;
    border-radius: 5%;
    height: 350px;
    cursor: pointer;
    width: 50%;
    margin-left: 20px;
}

#rb{
    padding: 15Px;
    float:right;
    margin-left:2% ;
    margin-right: 20px;
    width: 50%;
    text-align:center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 5%;
    height: 310px; 
    background-color: rgb(10, 133, 215);
}
#con2{
    position:relative;
    display: flex;
    margin-top: 20px;
   padding: 20px;
    box-sizing: border-box;
    width: 100%;
}
#tb{
    float:left;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:20px;
   
    
    width:50%;
}

#img{
    width: 50%;
   float: right;
  display: flex;
  justify-content: center;
}

#pg{
    
    font-size:20px;
    padding: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    text-decoration:underline ; 
    font-size: 60px; 
    Text-align:Center;
    
}
#about_sec{
    margin: 20px;
    border-radius: 20px;
    height: 400px;
    color: white;
    text-align: center;
    z-index: 999999;
   }
#about_sec_back{
    margin: 5%;
    width:90%;
    border-radius: 20px;
    height: 400px;
    display: flex;
    background-image:url(./IMG-20151130-WA0008.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

}
#about_sec_back::after{
    content: "";
    border-radius: 20px;
    height: 400px;
    width: 90%;
    position: absolute;
    display: inline-block;
    background-color:black;
    opacity: 0.4;
}